<style>
  .copyright-section {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
</style>
<div class="copyright-section">
  &copy; {{ 'now' | date: '%Y' }}
  {{ shop.name }} All rights reserved.
</div>
